@media (max-width: 768px) {
    .site-header {
        min-width: 768px;
    }

    .container {
        width: 768px;
    }

    .steps.text-center {
        min-width: 768px;
    }
}


@media (max-width: 480px) {
    /* *{
        font-size: 10px;
    } */

    /* Header */
    .site-header {
        min-width: 480px;
    }

    /* Lessons */
    .container {
        width: 400px;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .lessons .col {
        width: 100%;
    }

    .lessons .col:nth-child(1){
        margin-bottom: 60px;
    }

    /* Steps */
    .steps.text-center {
        min-width: 480px;
    }

    .steps .col {
        width: 100%;
    }

    .steps .col:not(:last-child){
        margin-bottom: 60px;
    }

}