@media (max-width: 768px) {
    .site-header {
        min-width: 768px;
    }

    .container {
        width: 768px;
    }

    .steps.text-center {
        min-width: 768px;
    }
}


@media (max-width: 480px) {
    /* *{
        font-size: 10px;
    } */

    /* Layout */
    .container {
        width: 400px;
        margin: 0 auto;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    /* Header */
    .site-header {
        min-width: 100%;
    }

    /* Main */
    /* Lessons */
    .lessons .h2 {
        text-align: center;
    }

    .lessons .col {
        width: 100%;
    }

    .lessons .col:nth-child(1) {
        margin-bottom: 60px;
    }

    /* Steps */
    .steps.text-center {
        min-width: 100%;
        margin-bottom: 0;
    }

    .steps .col {
        width: 100%;
    }

    .steps .col:not(:last-child) {
        margin-bottom: 60px;
    }

    /* Why us */
    .why-us {
        min-width: 100%;
        background-color: rgb(34, 34, 34);
        padding: 3rem 0;
        margin-bottom: 0;
    }

    .why-us .col-left {
        width: 100%;
        margin-bottom: 60px;
    }

    .why-us .col-right {
        width: 100%;
    }
}